:root {
  --primary: #7957d5;
  font-family: "Imprima", sans-serif;
}

body {
  background-image: linear-gradient(141deg, #3725d4, var(--primary) 71%, #9b67df)
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.has-text-primary {
  color: var(--primary)
}